/.project
/.cproject
/.settings
/.pydevproject
/build
/.vscode
subprojects/SDL*/
subprojects/lib*/
subprojects/jpeg*/
subprojects/tif*/
subprojects/zlib*/
*~

/subprojects/SDL2-2.0.3/
/subprojects/packagecache/

